<div class="bg-white">
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas facere
    beatae, nesciunt quas fuga quibusdam laborum soluta optio blanditiis
    doloribus. Aspernatur, provident unde minus dolor pariatur commodi dolorem
    fuga quidem maxime, voluptates corporis ut quae id porro ea? Deserunt
    ducimus fugit mollitia aliquam quae!
  </div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ipsum
  voluptatem, sunt beatae in numquam voluptatum molestias architecto atque,
  nulla minima, quos laborum velit ut vero cumque cum laudantium deleniti
  impedit ullam culpa tenetur? Dolore omnis vel iure consectetur necessitatibus
  optio, magnam perferendis hic voluptatibus ea modi iste atque ipsam totam,
  nesciunt eveniet est odit. Ipsum fugiat vitae beatae praesentium porro, dolore
  facere modi qui, in iste amet libero commodi ad natus culpa unde dignissimos
  asperiores nostrum officia similique earum harum rerum! Necessitatibus
  deserunt tempora incidunt cumque quaerat non, quasi architecto, pariatur alias
  natus magni doloremque vel delectus ullam id.
</div>
